#th
{
	background-color: #005aa6;
	color: white;
	text-align: center;
}


.areatext
{
	width: 100%;
}
.btnlong
{
	background-color: #f58220;
	color: white;
	padding: 4px 15px !important;
    font-size: 13px !important;
    border-radius: 0px !important;
}
.kcform
{
	margin-bottom: 2px !important;
	font-size: 12px;
	color: #bdbdbd;
}
.kcform1
{
  margin-bottom: 10px !important;
  
}
.kcform-more
{
	margin-bottom: 8px !important;
	font-size: 12px;
	color: #bdbdbd;
}
.kttext
{
	
	
   padding: 0.175rem .45rem;
   /* font-size: 1rem;
    line-height: 1.5;*/
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    

}
.seletext
{
    width: 162px;
    height: 28px;
	/* padding: 0.175rem .45rem;*/
   /* font-size: 1rem;
    line-height: 1.5;*/
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.textarea-info {
    position: relative;
    resize: none; 
    font-size: 12px !important; 
    border-radius: 10px !important;
    box-shadow: 3px 3px 4px #666;
    -moz-box-shadow: 3px 3px 4px #666;
    -webkit-box-shadow: 3px 3px 4px #666;
}
.textarea-info:before {
  width: 0;
    height: 0;
    border-top: 8px solid transparent !important;
    border-right: 11px solid #ccc!important;
    border-bottom: 9px solid transparent !important;
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,0.5);
  bottom: 33px;
  left: -21px;
}
.textarea-info:after {
  width: 0;
    height: 0;
    border-top: 11px solid transparent !important;
    border-right: 17px solid #fff!important;
    border-bottom: 11px solid transparent !important;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  bottom: 31px;
  left: -19px;
}

.floatright
{
   overflow: auto;
}
.btn-white
{
    background-color: white;
    float: right;
}
.orange
{
    color: #f58220;
}
.margin-break
{
  margin-top: -30px !important;
}
.modal-40
{
  width: 40% !important;
}
.modal-60
{
  width: 60% !important;
}
.modal-70
{
  width: 70% !important;
}
.text-modal
{
  padding-left: 25px !important;
  padding-right: 25px !important;
   font-size: 14px;
   text-align: justify;
   
}
.color-blue
{
  color: #005aa6; 
}
.title-right
{
  float: right;
}
.padding-form-login
{
  padding-right: 25px !important;
  padding-left: 25px !important;
  border-left: 1px !important solid #ddd;
  font-size: 14px !important;
  
}
.btn-login
{
  background-color: #f58220 !important;
  color: white; 
  margin-top: 15px;
}
.margin-top10
{
  margin-top: 10px
}
.margin-top-5
{
  margin-top: -5px
}
.margin-top17
{
  margin-top: 17px
}
.margin-top-13
{
  margin-top: -13px
}
.off-resize
{
  resize: none;
}
.title-center-complete
{
  text-align: center;
  color: #005aa6; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px
}
.padding-left-right-20
{
  padding-left:20px;
  padding-right: 20px;
}
.justify
{
  text-align: justify;
}
.underline-orange
{
  color:#f58220; text-decoration: underline;
}
.image-banner
{
  width: 100%;
  padding-bottom: 0px
}
.menu
{
  color: #f5821f; text-align: center;
}
.content1
{
  float: right; margin-left: 20px; margin-bottom: 20px;
}
.content2
{
  float: left; margin-right: 20px; margin-bottom: 20px;
}
.color-gray
{
  color: #c0c3c5;
}
.none-table
{
  background-color: #ccdeed;
  border: none;
}
.none-table2
{
  background-color: #f8f9fc;
  border: none;
}

.image-avatar
{
  width: 140px;
  height: 140px;
  z-index: 0;
  margin-top: -325px;
  margin-left: 24px;
}
.image-edit
{
  height: 40px;
  width: 140px;
  background-color: black ;
 /* margin-top: -40px !important;*/
  z-index: 10;
  position: relative;
  opacity: 0.4;
  margin-left: 24px;
   margin-top: -140px !important;
}
.icon-camera
{
  float: right;
  margin-top: 20px;
  margin-right: 5px
}
.size20
{
  font-size: 20px;
}
.size10
{
  font-size: 10px !important;
}
.table-profile
{
  font-size: 12px;
  color: #c0c3c5;
  border: none;
  border-top: 0px !important;
  padding: 5px !important;
}
.width100
{
  width: 100%;
}
.margin-top12
{
  margin-top: 12px;
}
.margin-top-8
{
  margin-top: 8px
}
.margin-left-25
{
  margin-left: 25px
}
.btn-them
{
  float: right;
   margin-bottom: 10px;
}
.title-modal
{
  color: #005aa6; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.them-modal
{
  background-color: #f58220 !important;
  color: white;
  margin-bottom: 10px; 
  margin-left: 42%
}
.title-anhdaidien
{
  color:blue;padding-left: 40px;padding-right: 20px;padding-bottom: 20px;
}
.padding-anhdaidien
{
  margin-left: 40px;padding-left: 10px
}
.btn88
{
   margin-bottom: 10px; margin-left: 32%;
}
.btn99
{
   margin-bottom: 10px; float: right;
}
.height31
{
  height: 31px
}
